.home-page{
    padding: 3% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-page > h4{
    text-align: center;
    margin-bottom: 20px;
}

.home-page .loader{
    font-size: 32px;
    color: #555555;
}

.picture-div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-container{
    height: 40vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

.image-container > img{
    height: 100%;
    width: auto;
}

i{
    cursor: pointer;
}

i.arrow{
    font-size: 24px;
}

i.arrow.opacity{
    opacity: 0.5;
}

i.heart{
    font-size: 24px;
}

i.red{
    color: #a83f39;
}

.favorite-date{
    width: 100%;
    display: flex;
    align-items: center;
}

.favorite-date input{
    margin-left: auto;
}

.favorite-date button{
    margin-left: 10px;
}

.description{
    max-width: 70%;
}

.description > p{
    text-align: justify;
}

.video-error{
    text-align: center;
}

.preview-images{
    width: 60%;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 15px;
}

.preview-image{
    height: 100px;
    background: #999999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preview-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.preview-image p{
    margin-bottom: 0;
}

.preview-image.active{
    border: solid 3px #000000;
}

@media only screen and (max-width: 529px) {
    .home-page{
        padding: 3% 5%;
    }

    .home-page > h4{
        font-size: 18px;
    }

    .image-container{
        height: 25vh;
    }

    .favorite-date{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .favorite-date input{
        margin-left: initial;
        margin-top: 30px;
    }

    .favorite-date button{
        margin-left: initial;
        margin-top: 15px;
    }

    .favorite-date i.heart{
        font-size: 36px;
    }
    
    .description{
        max-width: 90%;
    }

    .preview-images{
        width: 80%;
        grid-column-gap: 5px;
    }
    
    .preview-image{
        height: 70px;
    }

    .preview-image p{
        font-size: 12px;
    }
    
    .preview-image.active{
        border: solid 2px #000000;
    }
}