.home-page{
    padding: 3% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-page .loader{
    font-size: 32px;
    color: #555555;
}

.picture-div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-container{
    height: 40vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container > img{
    height: 100%;
    width: auto;
}

i{
    cursor: pointer;
}

i.arrow{
    font-size: 24px;
}

i.heart{
    font-size: 24px;
}

.favorite-date{
    width: 100%;
    /* padding: 0 10%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description > p{
    text-align: center;
}