.overlay{
    display: none;
    justify-content: flex-end;
    position: fixed;
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.overlay.display{
    display: flex;
}

.content{
    width: 25vw;
    height: 100%;
    padding: 30px 15px;
    overflow-y: scroll;
    background: #F3F4F5;
    box-shadow: 0px 1px 4px rgba(13, 14, 30, 0.05);
}

.close{
    position: absolute;
    top: 10px;
    right: 15px;
    font-weight: 400;
    cursor: pointer;
}

@media only screen and (min-width: 530px) and (max-width: 949px) {
    .content{
        width: 50vw;
    }
}

@media only screen and (max-width: 529px) {
    .overlay{
        justify-content: center;
        padding: 5%;
    }
    .content{
        width: 100%;
        border-radius: 5px;
        height: 100%;
        padding: 20px 15px;
    }
    .close{
        top: 4%;
        right: 8%;
    }
}